<ion-content>
  <img class="loginLogo" src="../../assets/icon/usjp-logo.png" />

  <ion-list>
    <form [formGroup]="loginForm" style="margin-top: 50px">
      <ion-item lines="none">
        <ion-segment formControlName="type">
          <ion-segment-button value="lecturer">
            <ion-label>Lecturer</ion-label>
          </ion-segment-button>
          <ion-segment-button value="students">
            <ion-label>Student</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-item lines="none">
        <div class="ion-label">
          <div class="name">{{ "Email" }}</div>
          <div class="">
            <ion-input
              type="email"
              formControlName="email"
              placeholder="{{ 'Login enter your email' }}"
            ></ion-input>
          </div>
        </div>
      </ion-item>
      <ion-item lines="none">
        <div class="ion-label">
          <div class="name">{{ "Password" }}</div>
          <div class="">
            <ion-input
              type="password"
              formControlName="password"
              placeholder="{{ 'Enter your password' }}"
            ></ion-input>
          </div>
        </div>
      </ion-item>

      <div class="forgot_div ion-text-center" *ngIf="!showSpinnerButton">
        <ion-button (click)="login()" [disabled]="loginForm.invalid"
          >{{ "Login" }}</ion-button
        >

        <ion-button *ngIf="showSpinnerButton">
          <ion-spinner></ion-spinner>
        </ion-button>
      </div>
    </form>

    <div class="ion-text-center" style="font-size: 14px">
      <div class="message">
        {{ "Don't have an account" }} ?
        <span class="createNew" [routerLink]="['/register']"
          >{{ "Create new account" }}</span
        >
      </div>
    </div>
  </ion-list>
</ion-content>
