<ion-header mode="ios">
  <ion-item lines="none" class="ion-padding user-item" style="margin-top: 50px">
    <ion-avatar slot="start" style="width: 60px; height: 60px">
      <img
        alt="user pic"
        [src]="userService.user?.profPic"
        onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg';"
      />
    </ion-avatar>
    <ion-label
      ><h1>Welcome Back {{userService?.user?.firstName}}!</h1>
      <p>MATH/PHY/ICT</p>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="count-down-timer" [hidden]="!this.classService.haveCountDown">
    <p>Countdown to Next Class</p>
    <div class="wrapper">
      <div class="description">
        <p>Days</p>
        <p>Hours</p>
        <p>Minutes</p>
        <p>Seconds</p>
      </div>
      <div class="times">
        <p #days></p>
        <p #hours></p>
        <p #minutes></p>
        <p #seconds></p>
      </div>
    </div>
  </div>

  <ion-row>
    <ion-col size="6">
      <ion-card lines="none">
        <ion-card-content class="ion-text-center"
          ><ion-label class="status-label"><b>Up Coming</b></ion-label>
          <br />
          <ion-label>{{classService.onGoingCount}}</ion-label></ion-card-content
        >
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card lines="none">
        <ion-card-content class="ion-text-center">
          <ion-label class="status-label"><b>Completed</b></ion-label>
          <br />
          <ion-label>{{classService.completedCount}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="ion-text-center ion-padding-horizontal">
    <ion-button [routerLink]="['/tabs/classes']" expand="block"
      >View All</ion-button
    >
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>Up Coming</ion-label>
    </ion-list-header>
    <ion-card>
      <!-- <ion-card-header>
        <ion-card-title
          >{{classService?.upComingClass?.course?.code}}</ion-card-title
        >
        <ion-card-subtitle
          >{{classService?.upComingClass?.course?.name}}</ion-card-subtitle
        >
      </ion-card-header> -->
      <ion-card-header (click)="onEventClick(classService?.upComingClass)">
        <ion-card-title
          >{{classService?.upComingClass?.course?.code}}</ion-card-title
        >
        <ion-label color="dark" class="form-title"
          >{{classService?.upComingClass?.course?.name}}</ion-label
        >
        <br />
        <ion-label color="dark"
          >{{convertIsoDate(classService?.upComingClass?.dateTime) }}
        </ion-label>
        <br />
        <ion-label color="medium">
          {{classService?.upComingClass?.dateTime | date:'shortTime'}}
        </ion-label>
      </ion-card-header>

      <ion-card-content>
        {{classService?.upComingClass?.course?.description}}
      </ion-card-content>
    </ion-card>

    <!-- <ion-list-header>
      <ion-label>Tomaro</ion-label>
    </ion-list-header> -->
  </ion-list>
</ion-content>
